.container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        padding: 0 1rem;
    }
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.nav-item:not(:first-child) {
    margin-left: 1.5rem;
}

.nav-link {
    color: #707070;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}
.nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    background: none transparent;
    border: 0;
    color: inherit;

    svg {
        width: 1.25rem;
        height: auto;
        fill: currentColor;
    }

    @include media-breakpoint-up(md) {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .menu-open {
        overflow: hidden;
    }

    .nav {
        &::before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(0, 0, 0, 0.7);
            z-index: 99;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 0.2s ease-out;
        }

        .nav-items {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            background: $brand-1;
            z-index: 100;
            opacity: 0;
            transition: all ease-in-out 0.3s;
            transform: translate3d(100%, 0, 0);
        }

        .nav-items {
            display: block;
            padding: 1rem;
            min-width: 60%;
        }

        .nav-item {
            margin: 0;
            opacity: 0;
            transform: translate3d(0, 1em, 0);
            transition: all .5s ease-out;
            font-weight: 200;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            @for $var from 1 to 5 {
                &:nth-child(#{$var + 1}) {
                    transition-delay: #{$var * .2}s;
                }
            }
        }

        .nav-link {
            color: white;
            display: block;
            padding: .5rem 1rem;
        }

        .menu-open & {
            &::before {
                opacity: 1;
                transform: translateX(0);
            }

            .nav-items {
                opacity: 1;
                box-shadow: -1vw 0px 2vw rgb(0, 0, 0, 0.2);
                transform: translate3d(0, 0, 0);
            }

            .nav-item {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.grecaptcha-badge {
    visibility: hidden;
}
