.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

label .help {
    font-weight: 400;
    color: $gray-300;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem;
    border-radius: 4px;
    border: 1px solid $gray-300;
    transition: border-color ease-out 0.15s, box-shadow ease-out 0.15s;
}

.form-control:focus {
    border-color: $brand-1;
    outline: none;
    box-shadow: 0 0 0 5px rgba($brand-1, 40%);
}

.alert {
    padding: 0.5rem;
    border: 1px solid transparent;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.alert.alert-error {
    border-color: #ca1f1f;
    background-color: #e03d3d;
    color: #fff;
}

.alert.alert-success {
    border-color: #07d212;
    background-color: #5ce27f;
    color: #156116;
}
