@mixin background-image($attachment: fixed) {
    background-image: url(/images/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #fff;
    background-attachment: $attachment;
}

@mixin control-transition() {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@mixin media-breakpoint-up($name) {
    $min: map-get($breakpoints, $name);
    @if $min != 0 {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($name) {
    $max: map-get($breakpoints, $name);
    @if $max != map-get($breakpoints, xxl) {
        @media (max-width: $max - 1) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-between($min: xs, $max: xxl) {
    @include media-breakpoint-up($min) {
        @include media-breakpoint-down($max) {
            @content;
        }
    }
}

@mixin media-tall-narrow($orientation: portrait) {
    @if $orientation == portrait {
        @media (max-width: map-get($breakpoints, sm) - 1) and (min-height: map-get($breakpoints, md)) and (max-height: map-get($breakpoints, lg) - 1) {
            @content;
        }
    } @else if $orientation == landscape {
        @media (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg) - 1) and (max-height: map-get($breakpoints, sm) - 1) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin flex-font-size($font-size, $breakpoint: lg) {
    $n: strip-unit($font-size);
    font-size: $n * 3.5vw;
    @include media-breakpoint-up($breakpoint) {
        font-size: $font-size;
    }
}

@mixin media2x() {
    @media only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 1.5dppx) {
        @content;
    }
}

@mixin focus-outline() {
    outline: 2px dashed currentColor;
    outline-offset: 2px;
}
