.about {
    background-color: #ebebeb;
    background-image: radial-gradient(ellipse at 80% 35%, rgba(255, 255, 255, 1) 20%, rgba($brand-1, 0.2) 100%);
    padding: 4rem 0;

    .about-grid {
        background: #fff;
        display: flex;
        box-shadow: 0 0.5rem 1rem -0.5rem rgba(0 0 0 / 50%);

        > :first-child {
            flex: 1;
            text-align: center;
            padding: 3rem;

            h2 {
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
        }
    }

    img {
        max-width: 100%;
        display: block;
    }

    @include media-breakpoint-down(lg) {
        .about-grid {
            align-items: center;

            > :first-child {
                padding: 1.5rem;

                h2 {
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }
        }
        .about-grid > :last-child{
            flex-basis: 45%;
        }
    }

    @include media-breakpoint-down(md) {
        .about-grid {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}
