.hero {
    padding-left: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 14vh;

    h1 {
        font-size: 6vw;
        margin-bottom: 0.85em;

        span {
            font-weight: 300;
            display: block;
            font-size: 0.75em;
        }
    }

    .lead {
        font-weight: 300;
        text-transform: uppercase;
        color: #999;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}
